In [ ]:
#######################################################################################
# Author: Srijan Verma                                                              #
# School of Pharmacy                                                                #
# Sirimulla Research Group [http://www.sirimullaresearchgroup.com/]                 #
# The University of Texas at El Paso, TX, USA                                       #
# Last modified: 19/12/2019                                                         #
# Copyright (c) 2019 Srijan Verma and Sirimulla Research Group, under MIT license   #
#######################################################################################

In [1]:
import mysql.connector
import json
import pandas as pd

In [4]:
USER = 'tcrd'
HOST = '129.108.3.163'
PASS = 'tcrd'
DB = 'chembl25'

conn = mysql.connector.connect (user=USER, password=PASS,
                               host=HOST,database=DB,buffered=True)
cursor = conn.cursor()

sql = "show tables"
df = pd.read_sql(sql, conn)
df.to_csv('/home/exxact/Desktop/srijan_thesis/dataset/chembl25_data_in_csv/chembl25_all_data/tables_in_chembl25.csv')

In [5]:
chembl_tables = []

In [6]:
chembl_tables = df['Tables_in_chembl25'].tolist()

In [7]:
from tqdm import tqdm

In [7]:
def convert_chembl25_all_sql_to_csv():
    for i in tqdm(range(len(chembl_tables))):
        sql = 'select * from ' + chembl_tables[i] 
        df = pd.read_sql(sql, conn)
        df.to_csv('/home/exxact/Desktop/srijan_thesis/dataset/chembl25_data_in_csv/chembl25_all_data/' + chembl_tables[i] + '.csv')

In [8]:
convert_chembl25_all_sql_to_csv()

100%|██████████| 77/77 [18:05<00:00, 14.10s/it]

## For saving first 10 rows of all tables (cells below)

In [2]:
USER = 'tcrd'
HOST = '129.108.3.163'
PASS = 'tcrd'
DB = 'chembl25'

conn = mysql.connector.connect (user=USER, password=PASS,
                               host=HOST,database=DB,buffered=True)
cursor = conn.cursor()

In [8]:
def convert_chembl25_first_ten_sql_to_csv():
    for i in tqdm(range(len(chembl_tables))):
        sql = 'select * from ' + chembl_tables[i] + ' limit 10'
        df = pd.read_sql(sql, conn)
        df.to_csv('/home/exxact/Desktop/srijan_thesis/dataset/chembl25_data_in_csv/chembl25_all_data_first_ten_rows/' + chembl_tables[i] + '.csv')

In [10]:
%%time
convert_chembl25_first_ten_sql_to_csv()

100%|██████████| 77/77 [00:00<00:00, 81.76it/s]

CPU times: user 316 ms, sys: 17.2 ms, total: 333 ms
Wall time: 946 ms