In [ ]:
#######################################################################################
# Author: Srijan Verma                                                              #
# School of Pharmacy                                                                #
# Sirimulla Research Group [http://www.sirimullaresearchgroup.com/]                 #
# The University of Texas at El Paso, TX, USA                                       #
# Last modified: 19/12/2019                                                         #
# Copyright (c) 2019 Srijan Verma and Sirimulla Research Group, under MIT license   #
#######################################################################################

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook

In [2]:
df_admet = pd.read_csv('../dataset/wombat/WB.ADMET.csv')

/Users/pankajverma/anaconda3/envs/seqcomhol/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_admet.head(2)

,"22,927",membrane depolarization measured,membrane potential,TE-671 cell,Unnamed: 4,(alpha1)2beta1gammadelta nAChR,human,rhabdomyosarcoma,Unnamed: 8,10 to 100,...,Unnamed: 15,cells incubated for 30 mins with compound in dark condition prior to treatment at 100 microM acetylcholine agonist,"330,026",Unnamed: 18,Unnamed: 19,Unnamed: 20,activity,Unnamed: 22,inactive,N
0,"22,926",increase in membrane depolarization measured,membrane potential,TE-671 cell,NaN,(alpha1)2beta1gammadelta nAChR,human,rhabdomyosarcoma,NaN,10 to 100,...,NaN,cells incubated for 30 mins with compound in d...,"330,026",NaN,NaN,NaN,activity,NaN,active,A
1,"22,925",effect on cellular response as the compound wa...,membrane potential,TE-671 cell,NaN,(alpha1)2beta1gammadelta nAChR,human,rhabdomyosarcoma,NaN,1,...,NaN,pretreated the cells with compound prior to tr...,"330,025",NaN,NaN,NaN,activity,NaN,inactive,N

In [ ]:
df_admet.columns

In [5]:
df_wombat = pd.read_csv('../dataset/wombat/WOMBAT.csv')

/Users/pankajverma/anaconda3/envs/seqcomhol/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (3,23,29,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_wombat.head(2)

,CC(C)C1=C(O)C(O)=C(C=O)C2=C(O)C(=C(C)C=C12)C1=C(O)C2=C(C=O)C(O)=C(O)C(C(C)C)=C2C=C1C,1,SMDL-00000001,1.1,Biochem. Pharmacol. 62(1)-2001 81-89,1.2,gossypol,Cc1cc2c(c(c(c(c2C(C)C)O)O)C=O)c(c1c3c(cc4c(c3O)c(c(c(c4C(C)C)O)O)C=O)C)O,4.49,-5.12,...,404.48,0.30,0.70,1.70,29.30,64.47,Unnamed: 30,Unnamed: 31,1.3,Unnamed: 33
0,CC(C)C1=C(O)C(O)=C(C#N)C2=C(OC(C)=O)C(=C(C)C=C...,2,SMDL-00000002,1,Biochem. Pharmacol. 62(1)-2001 81-89,2,NaN,Cc1cc2c(c(c(c(c2C(C)C)O)O)C#N)c(c1c3c(cc4c(c3O...,5.63,-5.03,...,485.48,0.27,0.73,1.63,38.7,68.84,NaN,NaN,0.0,NaN
1,CC(C)C1=C(O)C(O)=C2C(=N)OC3=C(C(C)=CC1=C23)C1=...,3,SMDL-00000003,1,Biochem. Pharmacol. 62(1)-2001 81-89,3,NaN,Cc1cc2c3c(c(c(c2C(C)C)O)O)C(=N)Oc3c1c4c(cc5c6c...,4.89,-4.51,...,380.28,0.29,0.71,2.10,21.9,70.78,NaN,NaN,0.0,NaN